body {
    height:auto;
    background-color:#C8CCC9;
    padding-top:0px;   /*these photos are very close to each other*/
    padding-bottom:0px;
}
div.page-header
{
    background-color:#C8CCC9;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    height:400px;
}

#logoImg{
    width:400px;
    align-self:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.firstRow {
    margin: 0px;
    padding: 1px;
    border: 0px;
}
.firstRow img{
    width:100%;
    height:500px;
}

.secondRow div{
    margin:0px;
    padding:1px;
    border:0px;
    height:500px;
}
.secondRow img{
    width:100%; /*This keeps the photos even and helps in responsivness*/
}
div.well1{
    margin:1px;
    padding:1px;
    border:1px;
    width:100%;
}
div.well2{
    margin:1px;
    padding:1px;
    border:1px;
    width:100%;
}
div.well14{
    font-family: 'Catamaran', sans-serif; /*google font*/
    text-align:center;
    line-height:55px;
    font-size:26px;
    vertical-align:middle;
    background-color:white;
    width:100%;
}
.navigation {
    font-family: 'Catamaran', sans-serif;   /*nav is broken into 3 categories*/
    text-align:center;
    background-color:white;
}
.firstnav {
    font-family: 'Catamaran', sans-serif;
    text-align:center;
    background-color:#A2D2CC;
    height:50px;
    line-height:50px;
}
.lastnav {
    font-family: 'Catamaran', sans-serif;
    text-align:center;
    background-color:#82BED3;
    height:50px;
    line-height:50px;
}
nav#navvy.navbar-static-top{
    margin-top:0px;
    margin-bottom:0px;
    background-color:white;
    
}
#navvy a {
    color:black; /*this makes the navbar visable on a white background*/
}
#navvy a:hover{
    background:none;
}
#navvy .navbar-nav{
    text-align:center;
    float:none;
    width:auto;
}
#navvy .navbar-nav li{
    float:none;
    display:inline-block; /*this is keeping the three items in line*/
}

/*Button*/
button.navbar-toggle {
    border:1px solid black;
}
span.icon-bar {
    border:1px solid black;
}

/*footer*/
footer { 
    font-family: 'Catamaran', sans-serif;
    display: block;
    background-color:#DDDDDD;
    padding-bottom:10px;
    padding-top:24px;
}
#social{
    height:40px;
    position:absolute;
    right:0px;
}

